<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>prjCriptografar</display-name>
	<servlet>
		<!-- Nome utilizado neste XML para se referenciar o Jersey Servlet -->
		<servlet-name>Jersey REST Servlet</servlet-name>		
		<!-- Indicação de qual é a classe do Jersey Servlet -->
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- Parâmetros a serem passados ao Jersey Servlet (Injeção de Dependência)-->
		<!-- Neste caso estamos falando para carregar os WebServices presentes nos pacotes -->
		<!-- controller e os serviços presentes em com.fasterxml.jackson.jaxrs.json-->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.fasterxml.jackson.jaxrs.json, controller</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Servlet</servlet-name>		
		<!-- Estamos informando que todas as URIs que contiverem '/ws' devem -->
		<!-- ser repassadas ao Jersey Servlet -->
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
</web-app>